@font-face {
  font-family: 'Krabby';
  src: url('..\\fonts\\Krabby Patty.ttf') format('truetype'); /*URL to font*/
}

html, body {
  height: 100%; /* Ensures html and body take up full screen height */
  margin: 0;   /* Removes default browser margins */
  overflow: hidden; /* Prevents scrollbars if image slightly exceeds viewport */
}

#main-picture-ty {
  background-image: url('..\\img\\30y-bg.jpg');
  background-position: center; /* Centers the image in the container */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover; /* Scales the image to cover the entire area while maintaining aspect ratio */
  height: 100vh; /* Sets the height to 100% of the viewport height */
  width: 100vw; /* Sets the width to 100% of the viewport width */
}

.krabby-font {
  font-family: 'Krabby';
}

.img-center {
  position: absolute;
  height: 100vh; /* Sets the height to 100% of the viewport height */
  width: 100vw; 
  animation: fade-in 2s ease;
}

.bubbleBoy {
  width: 200px;
  position: absolute;
  top: 5%;
  animation: float 4s linear infinite, fade-in 5s ease;
}

.bubbleStupid {
  width: 200px;
  position: absolute;
  top: 65%;
  left: 40%;
  animation: floatStupid 5s linear infinite, fade-in 5s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes floatStupid {
  0%, 100% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0);
  }
}